name: Build

concurrency: 
  group: "build"
  cancel-in-progress: true

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - '*.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          path: "src"

      - name: Checkout builds (or create if missing)
        uses: actions/checkout@v4
        continue-on-error: true
        with:
          ref: "builds"
          path: "builds"

      - name: Ensure builds folder exists
        run: mkdir -p $GITHUB_WORKSPACE/builds

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Build Plugins
        run: |
          cd $GITHUB_WORKSPACE/src
          chmod +x gradlew
          ./gradlew make makePluginsJson --stacktrace
          
          # Copy hasil build ke folder builds
          cp **/build/*.cs3 $GITHUB_WORKSPACE/builds/ || true
          cp build/plugins.json $GITHUB_WORKSPACE/builds/ || true

      - name: Push to builds branch
        run: |
          cd $GITHUB_WORKSPACE/builds
          git init
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Update builds: $GITHUB_SHA" || exit 0
          git push -f https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git HEAD:builds
